<ion-view title="Login">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <center>
          <img src="//i.imgur.com/fXKLgvf.png?3" alt="">
        </center>
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        <center>
          <h2 class="title">Please Login To View Data</h2>
          <button class="button button-block button-assertive" ng-click="login()">
            Login
          </button>
        </center>
      </div>
    </div>
  </ion-content>
</ion-view>
