<ion-view>
  <ion-content>
      <div class="card">
        <div class="item item-divider">
          Personal
        </div>
        <div class="item item-text-wrap">
        </div>
      </div>
      <div class="card">
        <div class="item item-divider">
          State
        </div>
        <div class="item item-text-wrap">
        </div>
      </div>
      <div class="card">
        <div class="item item-divider">
          Country
        </div>
        <div class="item item-text-wrap">
        </div>
      </div>
      <div class="card">
        <div class="item item-divider">
          Global
        </div>
        <div class="item item-text-wrap">
        </div>
      </div>
  </ion-content>
</ion-view>
