<ion-view title="Login">
  <div class="bar bar-header bar-dark">
    <h1 class="title"></h1>
  </div>
  <ion-content class="has-header">
    <div class="card">
      <div class="item item-text-wrap">
        <center>
          <img src="https://i.imgur.com/fXKLgvf.png?3" alt="">
        </center>
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        <center>
          <h2 class="title"></h2>
          <button class="button button-block button-assertive" ng-click="login()">
            Login
          </button>
        </center>
      </div>
    </div>
  </ion-content>
</ion-view>
