<ion-view>
  <ion-content>
      <div class="list list-inset">
        <div class="item item-divider">
          Personal
        </div>
        <a href="javascript:void(0);" class="item" ng-if="progress">
          <progress max="100" value="{{progress}}"></progress>
        </a>
        <a href="javascript:void(0);" class="item" ng-if="user &amp;&amp; !progress">
          {{user.username}}: {{user.percentage}}
        </a>
      </div>
      <div class="list list-inset">
        <div class="item item-divider">
          State
        </div>
        <a href="javascript:void(0);" ng-click="viewUser($index)" class="item" ng-repeat="rank in ranks | orderBy: 'rank.percentage'">
          {{rank.username}}: {{rank.percentage}}
        </a>
      </div>
      <div class="list list-inset">
        <div class="item item-divider">
          Country
        </div>
        <a href="javascript:void(0);" ng-click="viewUser($index)" class="item" ng-repeat="rank in ranks | orderBy: 'rank.percentage'">
          {{rank.username}}: {{rank.percentage}}
        </a>
      </div>
      <div class="list list-inset">
        <div class="item item-divider">
          Global
        </div>
        <a href="javascript:void(0);" ng-click="viewUser($index)" class="item" ng-repeat="rank in ranks | orderBy: 'rank.percentage'">
          {{rank.username}}: {{rank.percentage}}
        </a>
      </div>
  </ion-content>
</ion-view>
